<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/new4.css') }}">
<style>
body {
  background-image: url({{ url_for('static',filename='kk/aa.JFIF')}});
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>

<body>
 <div class="login">
	<h1>Inventory Mangement</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">

         <h5 class="card-title">How many Products need to maintain?</h5>

        
        <input type="text" name="PRODUCT_TYPE" placeholder="PRODUCT_TYPE" required="required" />
        
		<!-- PROMOTION_APPLIED -->
		<select name="PROMOTION_APPLIED" id="PROMOTION_APPLIED" required="required">
                                <option value="0">NO</option>
                                <option value="1">YES</option>
                         
		 </select>
		
		 <!-- GENERIC_HOLIDAY -->
		<select name="GENERIC_HOLIDAY" id="GENERIC_HOLIDAY" required="required">
                                <option value="0">NO</option>
                                <option value="1">YES</option>
                         
		 </select>
		
		 <!-- DAY_OF_WEEK -->
		<select name="DAY_OF_WEEK" id="DAY_OF_WEEK" required="required">
                                <option value="1">MONDAY</option>
                                <option value="2">TUESDAY</option>
                                <option value="3">WEDNESDAY</option>
                                <option value="4">THRUSDAY</option>
						        <option value="5">FRIDAY</option>
                                <option value="6">SATURDAY</option>
						        <option value="7">SUNDAY</option>
		 </select>
		
       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>